<section class="section track-section">
    <% if(ytTracks){ %>
        <% ytTracks.forEach(track => { %>
            <p><%= track.url %></p>
        <% }) %>
        <% } %>
    <h1>tracks</h1>
</section>